<body>
<div class="container" >
  <div class="jumbotron">
    <h2 align="center">Vehiculo</h2>
    <p align="right"><%= link_to " Atras".html_safe,
                                 vehiculos_path , class: 'btn btn-success btn-lg active'%>
      <%= render 'form', vehiculo: @vehiculo %>
    </p></div></div>

</body>